splashscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

splashscreen > #logo {
  width: 35%;
  height: auto;
  margin-bottom: 15px;
}

splashscreen > #gorilla {
  height: auto;
  width: 5%;

  opacity: 0;
  color: #181818;
  
  position: absolute;
  top: 25px;
  right: 25px;
}

.logo-and-text > h1 {
  color: var(--h1-primary-splashscreen);
  bottom: 350px;
  font-size: 3em;
  visibility: hidden;
}
