splashscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

splashscreen > #logo {
  width: 35%;
  height: auto;
  margin-bottom: 15px;
}

splashscreen > h1 {
  color: var(--h1-primary-splashscreen);
  bottom: 350px;
  font-size: 3em;
  visibility: hidden;
}
