html {
  --text-default-color: #dedede;
  --text-secondary-color: #bababa;
}

h1 {
  font-size: 3.5em;
  margin: 0;
  
  color: var(--text-default-color);
}

h2 {
  font-size: 3em;
  margin: 0;
  color: var(--text-default-color);
}

p {
  color: var(--text-secondary-color);
  font-size: 1.5em;
}